.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 3rem;
  padding: 20px 20px 0;
  
  @media (max-width: 560px) {
    padding: 20px 4px 0;
  }

  @media (max-width: 1080px) {
    align-items: flex-start;
  }
}